/* body{
    margin: 0;
    padding: 0;
    background-image: url('xc.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
main{
    max-width: 80%;
    margin: 0 auto;
    font-family: Change Calibre,"Helvetica Neue",Helvetica,Arial,Tahoma,sans-serif !important;
}
.left-side p{
    font-size: 20px;
}
.left-side p .c{
    width: 24px;
    vertical-align: text-bottom;

}
main h1, h2{
   text-align: center;
}
.img-container{
    text-align: center;
}
.img-container img{
    height: 130px;
    visibility: hidden;
}
.menu-container{
    display: flex;
    justify-content: space-between;
}
.left-side{
    width: 76%;
}
.right-side{
    width: 16%;
    text-align: center;
}
.right-side p{
    font-size: 15px;
    font-weight: 700;
}
.right-side img{
    padding-top:60px;
    height: 150px;
}
.sign{
    text-align:center;
    padding-top: 38px;
    font-size: 20px;
    color: red;
}
.sign-anchor:hover{
  color: coral;
   
}
footer{
    margin-top: 150px;
    background-image: url('az.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.footer-copyright{
    text-align: center;
    padding: 8px;
    background-color: #00000014;

}
.footer-contact{
    display: flex;
    color: darkslategrey;
    font-weight: 600;
    padding: 20px;
}
.footer-left{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}
.footer-right{
    display: flex;
    width: 38%;
    justify-content: space-evenly;
}
.fas{
    margin-right: 5px;
}

@media screen and (max-width: 767px) {
    body{
        background-image: none;
    }
    .img-container img{
        height: 130px;
        visibility: visible;
    }
    main{
        max-width: 100%;
    }
    .img-container img{
        width: 317px;
    }
    .menu-container{
        display: block;
    }
    .left-side{
        text-align: center;
        width: 95%;
        padding: 9px;
    }
    .left-side img{
        max-width: 100%;
    }
    .right-side{
        width: 100%;
        text-align: center;
    }
    .footer-contact{
       display: block;
       text-align: center;
    }
    .footer-left{
        width:100%;
        display: block;
    }
    .footer-right{
        width: 100%;
        display: block;
    }

} */